*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100%;
    background: url(img/reg1.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.main{
    background: rgba(123, 122, 122, 0.35);
    width:100%;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 1rem;
}
.title{
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color:#faf9f6;
    margin-bottom: 10px;
}
form .main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 8px 0;
}
form .main-box .input-box{
    width: calc(90%/2);
    margin: 15px 0;
}
form .main-box .input-box input{
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,.1);
    color:#faf9f6;
    outline: none;
    border-radius: 8px;
    border:1px solid rgba(255,255,255,.09);
    padding-left: 17px;
    font-size: 1rem;
    transition: all .40s;
}
form .main-box .input-box select{
    width:100%;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    color: rgba(125, 122, 113, 0.792);
    border:1px solid rgba(255,255,255,.09);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.09);
}
form .main-box .input-box option{
    padding: 10px;
    color: #0a0907;
}
.main-box .input-box .text{
    display: block;
    margin-bottom: 8px;
    color: #faf9f6;
    font-weight: 500;
}
form .main-box .input-box input:focus,
form .main-box .input-box input:valid{
    border-color: #faf9f6;
}
form .btn{
    height: 50px;
    margin: 20px 0;
}
form .btn input{
    height: 100%;
    width: 100%;
    outline: none;
    background: rgba(255,255,255,.1);
    color: #faf9f6;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .40s ease;
}
form .btn input:hover{
    background: #ff328e;
}
form a{
    margin-left: 10px;
    color: rgb(203, 224, 224);
    text-decoration: none;
}
form a:hover{
    text-decoration: underline;
}
.s4{
    color:#f9004d;
    font-size: 55px;
}
h2{
    color: white;
    font-size: 40px;
}